/** {
    box-sizing: border-box;
}*/

a {
    text-decoration: underline;
}

body {
    margin: 0;
}

html {
    font-size: 14pt;
    background-color: lightgray
}

.core {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50px auto;
}

.main {
    padding: 10px;
    grid-column: 2 / span 1; /* .core */
    grid-row: 2 / span 1; /* .core */
    overflow-y: auto;
    max-height: calc(100vh - 50px - 20px); /* sub navbar height and padding */
}

.main_entryDetails_backlink {
    grid-column: 3 / span 1;
}

.main_entryDetails_backlink_name {
    grid-column: 2 / span 1;
    justify-self: end;
}

.main_entryDetails_backlink_value {
}

.main_entryDetails_backlinks {
    width: 100%;
    display: grid;
    grid-template-columns: 5px auto 85%;
    /* work out rows automatically */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: start;
}

.main_entryDetails_list {
    width: 100%;
    display: grid;
    grid-template-columns: 5px auto auto;
    /* work out rows automatically */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: start;
}

.main_entryDetails_property {
}

.main_entryDetails_property_name {
    grid-column: 2 / span 1;
    justify-self: end;
}

.main_entryDetails_property_removed {
    color: gray;
}

.main_entryDetails_property_value {
    grid-column: 3 / span 1;
}

.main_entryDetails_property_value_indent {
    text-indent: 15px;
    margin: 0px;
}

.main_entryDetails_properties {
    width: 100%;
    display: grid;
    grid-template-columns: 5px auto 85%;
    /* work out rows automatically */
    grid-row-gap: 5px;
    grid-column-gap: 10px;
    align-items: start;
}

.main_search {
    width: 100%;
    display: grid;
    grid-template-columns: auto min-content;
}

.main_search_text {
    grid-column: 1 / span 1;
}

.main_search_button {
    grid-column: 2 / span 1;
}

.navigator {
    grid-column: 1 / span 1; /* .core */
    grid-row: 1 / span 1; /* .core */
}

.navigator_all {
    background-color: rgb(9, 9, 77);
    color: lightgray;
    vertical-align: middle;
    display: grid;
    grid-template-columns: auto min-content min-content;
    grid-template-rows: 50px;
    grid-column-gap: 0px;
}

.navigator_back {
    width: 40px;
    height: 40px;
    padding: 0px;
    grid-column: 2 / span 1; /* .navigator */
}

.navigator_forward {
    width: 40px;
    height: 40px;
    padding: 0px;
    grid-column: 3 / span 1; /* .navigator */
}

.navigator_selector {
    padding: 5px;
    grid-column: 1 / span 1; /* .navigator */
}

.tabbar {
    grid-column: 2 / span 1; /* .core */
    grid-row: 1 / span 1; /* .core */
}

.tabbar_all {
    background-color: rgb(9, 9, 77);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 5px;
    overflow-x: auto;
}

.tabbar_main {
    background-color: rgb(56, 56, 56);
    color: white;
    height: 45px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.tabbar_pinned {
    background-color: rgb(56, 56, 56);
    color: white;
    height: 45px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.tabbar_selected {
    background: lightgray;
    color: black;
}

.sidebar {
    background-color: gray;
    font-size: 12pt;
    padding: 10px;
    grid-column: 1 / span 1; /* .core */
    grid-row: 2 / span 1; /* .core */
    overflow-y: auto;
    max-height: calc(100vh - 50px - 20px); /* sub navbar height and padding */
}

.sidebar_li_heading {
    font-weight: bold;
}

.sidebar_li_icon {
    padding-right: 5px;
}

.sidebar_ul {
    list-style-position: inside;
    list-style-type: none;
    padding-left: 10px;
    padding-bottom: 5px;
}

.window {
    max-height: 100vh;
}
